<!-- header includes logo, titles, and actions -->
<app-header (toggleSidebar)="sidenav.toggle()" class="app-header"></app-header>
<!-- End header -->


<mat-sidenav-container class="container" fxLayout="row wrap" fullscreen>
    <!-- Collapsible side content -->
    <mat-sidenav  mode="{{SideNavMode}}" opened="false" #sidenav fxFlex="260px" class="mat-elevation-z3">
        <app-side-menu></app-side-menu>
    </mat-sidenav>
    <mat-sidenav #right position="end" opened="false" fxFlex="260px" class="mat-elevation-z3">
            Start Sidenav.
    </mat-sidenav>
    <!-- End Collapsible side content -->

    <!-- Main Content Area -->
    <mat-sidenav-content fxFlex>

        <div class="main-content">
            <!-- <router-outlet></router-outlet> -->


            <mat-toolbar color="primary" class="secondary-toolbar mat-elevation-z1">
                        <!-- <button class="fab-theme" matTooltip="Choose theme" [matMenuTriggerFor]="themeMenu" mat-fab><mat-icon>dialpad</mat-icon></button> -->
                        <mat-toolbar-row> <mat-icon>grid_on</mat-icon>Invoices </mat-toolbar-row>
                        
                        <mat-toolbar-row>
                            <mat-tab-group>
                                <mat-tab label="Profile"></mat-tab>
                                <mat-tab label="Admission"></mat-tab>
                                <mat-tab label="Class Subscriptions"></mat-tab>
                                <mat-tab label="Attendance Reports"></mat-tab>
                                <mat-tab label="Invoices"></mat-tab>
                            </mat-tab-group>
                        </mat-toolbar-row>
                    </mat-toolbar>
                    <!-- <mat-menu #themeMenu="matMenu" yPosition="below" xPosition="before">
                        <button mat-menu-item> BLUE </button>
                        <button mat-menu-item> GREEN </button>
                    </mat-menu> -->
            <div class="content-body" fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="10px">
                <section class="mat-typography title-group">
                    <h1>Heading Goes Here</h1>
                    <mat-divider></mat-divider>
                  </section>

                <div>
                    <mat-grid-list cols="4" rowHeight="200px">
                      <mat-grid-tile [colspan]="3" [rowspan]="1">1
                      </mat-grid-tile>
                      <mat-grid-tile [colspan]="1" [rowspan]="2">2
                      </mat-grid-tile>
                      <mat-grid-tile [colspan]="1" [rowspan]="1">3
                      </mat-grid-tile>
                      <mat-grid-tile [colspan]="2" [rowspan]="1">4
                      </mat-grid-tile>
                    </mat-grid-list>
                </div>

            </div>




        </div>
    </mat-sidenav-content>
    <!-- End Main Content Area -->
</mat-sidenav-container>