html, body{
    box-sizing: border-box;
    height: 100%;
    margin: 0;
}

.app-header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
}
.main-toolbar {
    min-height:56px;
    max-height: 56px;
}
.main-content {
    padding: 40px 20px 20px 20px;
}


mat-sidenav {
    padding-top: 60px; 
}
mat-sidenav-container {
    padding-top: 60px;
    background-color: #efefef;
}
mat-sidenav-content {
    padding: 0px;
    width: 100%;
}
mat-sidenav mat-nav-list,
mat-sidenav .mat-selection-list {
    overflow-y: auto;
    padding-bottom: 50px;
}
mat-sidenav mat-nav-list a mat-icon {
    font-size: 18px;
    margin-right: 10px;
}

